<% content_for :page_heading do %>
  <h2 class="page-title">
    <%= t('.comments_for_html', title: link_to_permalink(@article, @article.title)) %>
  </h2>
<% end %>

<%= form_tag({ action: 'bulkops' }) do %>

  <%= hidden_field_tag 'article_id', @article.id %>

  <% if @feedback.any? %>
    <%= render 'button', position: 'top' %>
  <% end %>

  <table class='table hover'>
    <thead>
      <tr class='noborder'>
        <th>
          <input type="checkbox" name="checkall" id="checkall">
        </th>
        <th><%= t(".author") %></th>
        <th><%= t(".created_at") %></th>
        <th><%= t(".status") %></th>
        <th><%= t(".content") %></th>
        <th><%= t(".actions") %></th>
      </tr>
    </thead>

    <% if @feedback.empty? %>
      <tr>
        <td colspan="5">
          <%= t('.no_feedback') %>
        </td>
      </tr>
    <% end %>

    <% @feedback.each do |comment| %>
      <%= render 'feedback', comment: comment %>
    <% end %>
  </table>
<% end %>

<%= form_with url: {action: 'create'}, local: true do |form| %>
  <%= form.hidden_field :article_id, value: @article.id %>
  <fieldset class='mb-4'>
    <legend><%= t('.add_a_comment') %></legend>
    <div class="form-group row">
      <label for="comment_author" class='col-form-label col-md-2'><%= t('.author') %></label>
      <div class="col-md-5">
        <%= text_field 'comment', 'author', class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <label for="comment_email" class='col-form-label col-md-2'><%= t('.email') %></label>
      <div class="col-md-5">
        <%= text_field 'comment', 'email', class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <label for="comment_url" class='col-form-label col-md-2'><%= t('.url') %></label>
      <div class="col-md-5">
        <%= text_field 'comment', 'url', class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <label for="comment_body" class='col-form-label col-md-2'><%= t('.your_comment') %></label>
      <div class="col-md-5">
        <%= text_area 'comment', 'body', rows: '10', class: 'form-control' %>
      </div>
    </div>
    <div class="mt-3">
      <%= t('.action_or_other_html', first_action: link_to(t('.cancel'), action: 'index'), second_action: submit_tag(t('.save'), class: 'btn btn-primary')) %>
    </div>
  </fieldset>
<% end %>
