<% content_for :page_heading do %>
  <h2 class="page-title">
    <%= t('.comments_for_html', article_link: link_to(h(@comment.article.title), controller: '/admin/articles', action: 'edit', id: @comment.article.id).html_safe) %>
  </h2>
<% end %>

<%= form_tag action: 'update', id: @comment.id do %>

  <%= render 'shared/flash', flash: flash %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("errors.template.header", model: 'comment', count: @comment.errors.count) %></h2>
      <p><%= t("errors.template.body") %></p>
      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag 'article_id', @article.id %>

  <fieldset class='mb-4'>
    <legend><%= t('.edit_a_comment') %></legend>
    <div class="form-group row">
      <label for="comment_author" class='col-md-2 col-form-label'><%= t('.author') %></label>
      <div class="col-md-5">
        <%= text_field 'comment', 'author', class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <label for="comment_email" class='col-md-2 col-form-label'><%= t('.email') %></label>
      <div class="col-md-5">
        <%= text_field 'comment', 'email', class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <label for="comment_url" class='col-md-2 col-form-label'><%= t('.url') %></label>
      <div class="col-md-5">
        <%= text_field 'comment', 'url', class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <label for="comment_body" class='col-md-2 col-form-label'><%= t('.your_comment') %></label>
      <script type="text/javascript">edToolbar('comment_body', '<%= @comment.text_filter_name %>');</script>
      <div class="col">
        <%= text_area 'comment', 'body', rows: '10', class: 'form-control' %>
      </div>
    </div>
    <div class="mt-3">
      <%= t('.action_or_other_html', first_action: link_to(t('.cancel'), action: 'index'), second_action: submit_tag(t('.save'), class: 'btn btn-primary')) %>
    </div>
  </fieldset>
<% end %>
