<% content_for :page_heading do %>
  <h2>
    <%= t('.choose_a_theme') %>
  </h2>
<% end %>

<div class="row">
  <% for theme in @themes %>
    <% preview_url = url_for(action: 'preview', theme: theme.name) %>
    <% switch_url = url_for(action: 'switchto', theme: theme.name) %>
    <div class='col-lg-6'>
      <div class='card'>
        <div class='card-body'>
          <% if theme.path == @active.path %>
            <h3><%= t('.active_theme', name: theme.name) %></h3>
            <%= image_tag(preview_url, class: 'img-thumbnail') %>
            <%= raw theme.description_html %>
          <% else %>
            <h3><%= theme.name %></h3>
            <%= image_tag(preview_url, class: 'img-thumbnail') %>
            <%= raw theme.description_html %>
            <p><%= button_to(t('.use_this_theme'), switch_url, class: 'btn btn-info') %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
