<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" role="navigation">
  <a class="navbar-brand" href="<%= admin_dashboard_path %>"><%= t(".home") %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar-top" aria-controls="sidebar-top" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="sidebar-top">
    <ul class="navbar-nav mr-auto">
      <% if can? :index, 'admin/articles' %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('.articles') %>
          </a>
          <div class="dropdown-menu" aria-labelledby="dLabel">
            <%= menu_item(t('.all_articles'), admin_articles_path) %>
            <%= menu_item(t('.new_article'), new_admin_article_path) %>
            <%= menu_item(t('.feedback'), admin_feedback_index_path) %>
            <%= menu_item(t('.tags'), admin_tags_path) %>
            <%= menu_item(t('.article_types'), admin_post_types_path) %>
            <%= menu_item(t('.redirects'), admin_redirects_path) %>
          </div>
        </li>
      <% end %>
      <% if can? :index, 'admin/notes' %>
        <%= top_menu_item(t('.notes'), admin_notes_path) %>
      <% end %>
      <% if can? :index, 'admin/pages' %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('.pages') %>
          </a>
          <div class="dropdown-menu" aria-labelledby="dLabel">
            <%= menu_item(t('.all_pages'), admin_pages_path) %>
            <%= menu_item(t('.new_page'), new_admin_page_path) %>
          </div>
        </li>
      <% end %>
      <% if can? :index, 'admin/resources' %>
        <%= top_menu_item(t('.media_library'), admin_resources_path) %>
      <% end %>
      <% if can? :index, 'admin/themes' %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('.design') %>
          </a>
          <div class="dropdown-menu" aria-labelledby="dLabel">
            <%= menu_item(t('.choose_theme'), admin_themes_path) %>
            <%= menu_item(t('.customize_sidebar'), admin_sidebar_index_path) %>
          </div>
        </li>
      <% end %>
      <% if can? :index, 'admin/settings' %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('.settings') %>
          </a>
          <div class="dropdown-menu" aria-labelledby="dLabel">
            <%= menu_item(t('.general_settings'), admin_settings_path) %>
            <%= menu_item(t('.write'), write_admin_settings_path) %>
            <%= menu_item(t('.display'), display_admin_settings_path) %>
            <%= menu_item(t('.feedback'), feedback_admin_settings_path) %>
            <%= menu_item(t('.manage_users'), admin_users_path) %>
          </div>
        </li>
      <% end %>
      <% if can? :index, 'admin/seo' %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('.seo') %>
          </a>
          <div class="dropdown-menu" aria-labelledby="dLabel">
            <%= menu_item(t('.global_seo_settings'), admin_seo_path(section: 'general')) %>
            <%= menu_item(t('.permalinks'), admin_seo_path(section: 'permalinks')) %>
            <%= menu_item(t('.titles'), admin_seo_path(section: 'titles')) %>
          </div>
        </li>
      <% end %>
      <%= top_menu_item(t('.view_blog'), this_blog.base_url) %>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t('.logged_in_as', login: current_user.display_name) %>
        </a>
        <div class="dropdown-menu" aria-labelledby="dLabel">
          <%= menu_item t('.profile'), { controller: 'admin/profiles', action: 'index' } %>
          <div class="dropdown-divider"></div>
          <%= menu_item t('.documentation'), 'https://github.com/fdv/publify/wiki' %>
          <%= menu_item t('.report_a_bug'), 'https://github.com/fdv/publify/issues' %>
          <%= menu_item t('.in_page_plugins'), 'https://github.com/fdv/publify/wiki/In-Page-Plugins' %>
          <%= menu_item t('.sidebar_plugins'), 'https://github.com/fdv/publify/wiki/Sidebar-plugins' %>
          <div class="dropdown-divider"></div>
          <%= link_to t('.logout_html'), destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t('.new') %>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
          <%= menu_item(t('.new_article'), { controller: 'articles', action: 'new' }) %>
          <%= menu_item(t('.new_page'), { controller: 'pages', actions: 'new' }) %>
          <%= menu_item(t('.new_media'), { controller: 'resources', action: 'index' }) %>
          <%= menu_item(t('.new_note'), { controller: 'notes' }) %>
        </div>
      </li>
    </ul>
  </div>
</nav>
